commit.git
.vscode
.vscode/*
models/__pycache__
tests/test_models/__pycache__
__pycache__
test_
w3c_validator.py
.DS_Store
web_static/bin
web_static/bin~
web_static/lib
web_static/include
web_static/w3c_validator.py
web_static/requests
web_static/install
web_static/pyvenv.cfg
web_static/w3c/
