/* Footer styles */
footer {
    background-color: white; /* White background */
    color: #484848; /* Font color */
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC; /* Light gray border */
    position: fixed; /* Sticks footer to the bottom of the viewport */
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    text-align: center;
    padding: 0;
    margin: 0;
}
footer p {
    margin: 0; /* Ensure no extra spacing around the text */
}
